[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.3"
markupsafe = "==2.1.1"
pymongo = "==4.2.0"
six = "==1.16.0"
requests = "*"
munch = "*"
python-dotenv = "*"
pyyaml = "*"
fastapi = "*"
uvicorn = "*"
cffconvert = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.8"
